@import "../../_base.css";

.videoMetaData__top span {
  cursor: pointer;
}

.videoMetaData__channel {
  border-top: 0.2px solid #4c4c4c;
  border-bottom: 0.2px solid #4c4c4c;
}

.videoMetaData__channel img {
  width: 50px;
  height: 50px;
}

.videoMetaData__channel button {
  background-color: red;
  color: #fff;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.videoMetaData__channel button.btn-gray {
  background-color: gray;
}

.videoMetaData__channel button:hover {
  color: #fff;
}

.videoMetaData__channel button:focus {
  border: none;
  outline: none;
}

.videoMetaData__description {
  font-size: 0.9rem;
  white-space: pre-line;
  border-bottom: 0.2px solid #4c4c4c;
}

.videoMetaData__description .showMoreText {
  text-decoration: none;
  display: block;
  margin: 1rem 0;
  color: #fff;
  font-weight: 500;
}

@media (max-width: 520px) {
  .videoMetaData h5 {
    font-size: 1.1rem;
  }
}
